# print table of given number

In [1]:
num = int(input('Enter the number: '))

Enter the number: 4

In [3]:
print('_'*10)
print(num,'x',1,'=',num*1)
print(num,'x',2,'=',num*2)
print(num,'x',3,'=',num*3)
print(num,'x',4,'=',num*4)
print(num,'x',5,'=',num*5)
print(num,'x',6,'=',num*6)
print(num,'x',7,'=',num*7)
print(num,'x',8,'=',num*8)
print(num,'x',9,'=',num*9)
print(num,'x',10,'=',num*10)
print('_'*10)

__________
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
__________

# table using for loop

In [4]:
num=int(input('Enter the number'))

print('_'*10)
for i in range(1,11):
    print(num,'x',i,'=',i*num)
print('_'*10)

Enter the number5
__________
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
__________